[submodule "data/repos/linux"]
	path = data/repos/linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "data/repos/autoconf"]
	path = data/repos/autoconf
	url = git://git.sv.gnu.org/autoconf.git
[submodule "data/repos/automake"]
	path = data/repos/automake
	url = git://git.savannah.gnu.org/automake.git
[submodule "data/repos/bash"]
	path = data/repos/bash
	url = git://git.savannah.gnu.org/bash.git
[submodule "data/repos/bison"]
	path = data/repos/bison
	url = git://git.savannah.gnu.org/bison.git
[submodule "data/repos/coreutils"]
	path = data/repos/coreutils
	url = git://git.savannah.gnu.org/coreutils.git
[submodule "data/repos/cpio"]
	path = data/repos/cpio
	url = git://git.savannah.gnu.org/cpio.git
[submodule "data/repos/emacs"]
	path = data/repos/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "data/repos/gawk"]
	path = data/repos/gawk
	url = git://git.savannah.gnu.org/gawk.git
[submodule "data/repos/ghostscript"]
	path = data/repos/ghostscript
	url = git://git.savannah.gnu.org/ghostscript.git
[submodule "data/repos/gnupg"]
	path = data/repos/gnupg
	url = git://git.gnupg.org/gnupg.git
[submodule "data/repos/grep"]
	path = data/repos/grep
	url = git://git.savannah.gnu.org/grep.git
[submodule "data/repos/gzip"]
	path = data/repos/gzip
	url = git://git.savannah.gnu.org/gzip.git
[submodule "data/repos/make"]
	path = data/repos/make
	url = git://git.savannah.gnu.org/make.git
[submodule "data/repos/sed"]
	path = data/repos/sed
	url = git://git.savannah.gnu.org/sed.git
[submodule "data/repos/screen"]
	path = data/repos/screen
	url = git://git.savannah.gnu.org/screen.git
[submodule "data/repos/tar"]
	path = data/repos/tar
	url = git://git.savannah.gnu.org/tar.git
[submodule "data/repos/wget"]
	path = data/repos/wget
	url = git://git.savannah.gnu.org/wget.git
[submodule "data/repos/systemd"]
	path = data/repos/systemd
	url = git://github.com/systemd/systemd.git
[submodule "data/repos/git"]
	path = data/repos/git
	url = git://git.kernel.org/pub/scm/git/git.git
[submodule "data/repos/polkit"]
	path = data/repos/polkit
	url = git://anongit.freedesktop.org/polkit
[submodule "data/repos/dbus"]
	path = data/repos/dbus
	url = git://anongit.freedesktop.org/dbus/dbus.git
[submodule "data/repos/httpd"]
	path = data/repos/httpd
	url = git://github.com/apache/httpd.git
[submodule "data/repos/curl"]
	path = data/repos/curl
	url = git://github.com/curl/curl.git
[submodule "data/repos/gcc"]
	path = data/repos/gcc
	url = git://gcc.gnu.org/git/gcc.git
[submodule "data/repos/binutils"]
	path = data/repos/binutils
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "data/repos/glibc"]
	path = data/repos/glibc
	url = git://sourceware.org/git/glibc.git
[submodule "data/repos/cups"]
	path = data/repos/cups
	url = git://github.com/apple/cups.git
